<!-- Validation failure messages -->
<% if @test_somet.errors.any? %>
  <% @test_somet.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Test Somet #<%= @test_somet.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_test_somet/<%= @test_somet.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @test_somet.name %>">
      </div>

      <!-- Label and input for etc -->
      <div class="form-group">
        <label for="etc" class="control-label">
          Etc
        </label>

        <input type="text" id="etc" name="etc" placeholder="Etc" class="form-control" value="<%= @test_somet.etc %>">
      </div>

      <button class="btn btn-warning">
        Update Test Somet
      </button>
      or
      <a href="/test_somets/<%= @test_somet.id %>">Cancel</a>
    </form>
  </div>
</div>
